/* seems like each spirte is 70px wide and 80px high */
.character{
	width:70px;
	height:80px;
	display:inline-block;
	position:absolute;
	top:140px;
	left:100px;
}
#field{
	background-image: url('../images/background_blanka.gif');
	width:621px;
	height:224px;
	position:relative;
	margin: 0 auto;
	border: 3px dashed yellow;
}
h1{
	font-size:16px;
	text-align: center;
}
body{
	font-size:17px;
	background-color: darksalmon;
	font-family: Arial, Helvetica, sans-serif;
}
h2{
	font-size:14px;
	text-align: center;
}
ul,li,p {
	text-align: center;
	list-style: none;
}
h1{
	font-size: 22pt;
}